@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
    flex-direction: row;
    gap: 60px;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.cart-icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translatex(-50%);
    background: #fff;
    color: var(--clr);
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;

}
.text-box{
    color: azure;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 50px;
    font-weight: 600;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
/* .text-box a{
    color: aqua;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
} */
.text-box a
{
    flex-direction: row;
    gap: 60px;
    position: relative;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}
.text-box a:hover
{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.text-box a::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.text-box a span
{
    position: relative;
    color: var(--clr);
    z-index: 1;
}
.text-box a i 
{
    position: absolute;
    inset: 0;
    display: block;
}
.text-box a i::before
{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.text-box a:hover i::before
{
    width: 20px;
    left: 10%;
}
.text-box a i::after
{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.text-box a:hover i::after
{
    width: 20px;
    left: 90%;
}



.text-box span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.sosial_icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.sosial_icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}



.container .card
{
    position: relative;
    right: -60%;
    width: 400px;
    height: 550px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform: translateX(100px);
    opacity: 0;
     transition: 0.8s;
}
.container:hover .card
{
    transform: translateX(0px);
    opacity: 1;
    transition: 0.8s;
}
.container .card .content
{
    padding: 20%;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
    transition: 1s;
}
.container .card .content h2
{
    position: absolute;
    top: -10%;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}
.container .card .content h3
{
    font-size: 1.5em;
    color: #fff;
    pointer-events: none;
    z-index: 1;
}
.container .card .content p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}